@model Zmap.Models.ContactU
@{
    ViewBag.Title = "ContactEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="inn-body-section pad-bot-55">
        <div class="container">
            <div class="row">
                <div>
                    <a href="@Url.Action("Index", "Admin")" class="btn-floating btn-large waves-effect waves-light blue">
                        <i class="material-icons">arrow_back</i>
                    </a>
                </div>
                <div class="page-head">
                    <h2>Edit Contact Us</h2>
                    <div class="head-title">
                        <div class="hl-1"></div>
                        <div class="hl-2"></div>
                        <div class="hl-3"></div>
                    </div>

                    <div class="col-md-12">
                        <div class="head-typo typo-com collap-expand book-form inn-com-form">
                            <h2>Page Data</h2>

                            <div class="aminities">
                                @using (Html.BeginForm("ContactEdit", "Admin", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <form class="col l12">
                                        <div class="row">
                                            <div class="input-field col l9">
                                                <input required class="validate" name="Title" value="@Model.Title" />
                                            </div>
                                            <div class="input-field col l3">
                                                <label>Title</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col l9">
                                                <textarea class="validate" required name="Details">@Model.Details</textarea>
                                            </div>
                                            <div class="input-field col l3">
                                                <label>Details</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col l9">
                                                <textarea class="validate" required name="Zmap">@Model.Zmap</textarea>
                                            </div>
                                            <div class="input-field col l3">
                                                <label>Zmap</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col l9">
                                                <textarea class="validate" required name="Address">@Model.Address</textarea>
                                            </div>
                                            <div class="input-field col l3">
                                                <label>Address</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col l9">
                                                <textarea class="validate" required name="Contact">@Model.Contact</textarea>
                                            </div>
                                            <div class="input-field col l3">
                                                <label>Contact</label>
                                            </div>
                                        </div>

                                       <div class="row">
                                            <div class="input-field col l9">
                                                <textarea class="validate" required name="Website">@Model.Website</textarea>
                                            </div>
                                            <div class="input-field col l3">
                                                <label>Website</label>
                                            </div>
                                        </div>

                                         <div class="row">
                                            <div class="input-field col l9">
                                                <input required class="validate" name="Location" value="@Model.Location" />
                                            </div>
                                            <div class="input-field col l3">
                                                <label>Location</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col l12">
                                                <input type="submit" value="تسجيل" />
                                            </div>
                                        </div>
                                        @Html.HiddenFor(m => m.Id)
                                    </form>
                                }
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>